/* 第三模块功能模块 */
.function{
	height: 64.0rem;
    background-color: #cff;
    background-image: url(../images/bkg2.jpg);
    -webkit-background-size:100% 100% ;
    background-size: 110% 100%;
    position: relative;
}
/* 模块三遮罩 */
.function .zhezhao3{
    width: 100%;
    height: 64rem;
    opacity: 0.6;
    background-color: #000;
}
/* givemefive 图*/
.givemefive2{
	color: #fff;
	font-size: 3.3rem;
    width: 13.0rem;
    height: 13.0rem;
    position: absolute;
    top:20.0rem;
    left: 7.5rem;
    display: none;
}
.givemefive2>img{
    height: 13rem;
}
/* 分类 */
.function .classify{
	width: 27.0rem;
    height: 7.0rem;
    position: absolute;
    top:42.0rem;
    left: 6rem;
}
.function .classify li{
	float: left;
	width: 8rem;
	text-align: center;
    cursor: pointer;
}
.function .classify li p{
    margin-top: 1.6rem;
    font-size: 1.1rem;
    color: #fff;
}
.function .classify li img{
    cursor: pointer;
}

.function .classify li:nth-child(1) img{
    -webkit-transform:scale(0.8);
        -ms-transform:scale(0.8);
            transform:scale(0.8);-webkit-animation:scaleImg 1.2s infinite;animation:scaleImg 1.2s infinite;
}
.function .classify li:nth-child(2) img{
    -webkit-transform:scale(0.8);
        -ms-transform:scale(0.8);
            transform:scale(0.8);-webkit-animation:scaleImg 1.2s infinite;animation:scaleImg 1.2s infinite;
    -webkit-animation-delay:0.2s;
            animation-delay:0.2s;
}
.function .classify li:nth-child(3) img{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform:rotateY(0deg);
            transform:rotateY(0deg);-webkit-animation:rotateImg 10s infinite;animation:rotateImg 10s infinite;
}
@-webkit-keyframes scaleImg{
    0%,100%{-webkit-transform:scale(1);transform:scale(1);}
    50%{-webkit-transform:scale(0.8);transform:scale(0.8);}
}
@keyframes scaleImg{
    0%,100%{-webkit-transform:scale(1);transform:scale(1);}
    50%{-webkit-transform:scale(0.8);transform:scale(0.8);}
}
@-webkit-keyframes rotateImg{
    0%,40%,80%{-webkit-transform:rotateY(180deg);transform:rotateY(180deg);}
    20%,60%,100%{-webkit-transform:rotateY(-180deg);transform:rotateY(-180deg);}
}
@keyframes rotateImg{
    0%,40%,80%{-webkit-transform:rotateY(180deg);transform:rotateY(180deg);}
    20%,60%,100%{-webkit-transform:rotateY(-180deg);transform:rotateY(-180deg);}
}