.social{
	width: 100%;
	height: 64rem;
    background-color: #4A4A4A;
    z-index: 1;
    position: relative;
}


/* 图片展示 */
.social>a>img{
	transition:all 0.5s;
	position: absolute;
	margin: 0.5rem 0 0 0.5rem;
	overflow: hidden;
}
.social a img:hover{
	transform:scale(1.08,1.08);
	z-index: 10;
}
.social>a {
	opacity: 0.4;
}
.social a:nth-child(2) img{
	width: 29%;
	height: 37.3rem;
	left: 0;
	top: 0;
}

.social a:nth-child(3) img{
	width: 44%;
	height: 27.1rem;
	left: 29.7%;
	top: 0;
}
.social a:nth-child(4) img{
	width: 24.5%;
	height: 17.8rem;
	left: 74.4%;
	top: 0;
}
.social a:nth-child(5) img{
	width: 29%;
	height: 24.9rem;
	left: 0;
	top: 59.3%;
}
.social a:nth-child(6) img{
	width: 44%;
	height: 35.1rem;
	left: 29.7%;
	top: 43.4%;
}
.social a:nth-child(7) img{
	width: 24.5%;
	height: 27.0rem;
	left:74.4%;
	top: 28.8%;
}
/* 社区精选 */
.selection{
	position: absolute;
	width: 16.3rem;
	height: 12.0rem;
	left: 78.4%;
	top: 79%;
}
.selection > h4{
	color: #4FE3C3;
	margin-bottom: 2.0rem;
	font-size: 1.4rem;
}
.selection > p{
	color: #ccc;
	font-size: 0.9rem;
}
.selection > a{
	color: #fff;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	line-height: 2.8rem;
	margin-top: 1.5rem;
	width: 9.0rem;
	height: 2.8rem;
	border-radius: 2rem;
	background-color: #0bf5c2;	

}


.selection>a:hover{
	background-color: #4FE3C3;
}
.selection>a span{
	font-weight: bold;
	display: inline-block;/* 转化成行内快,animation在有效 */
	margin-right: 0.7rem;
	transform:translateX(-7px);animation:a1 1.5s infinite;
}
@keyframes a1{
	0%,40%,100%{transform:translateX(-7px);}
	20%{transform:translateX(0px);}
}
.selection>a em{
	font-style: normal;
	display: inline-block;
	transform:translateX(-7px);animation:a1 1.6s infinite;
}